%%-*- mode: erlang -*-

{deps,
	[
		{webmachine, ".", {git, "git://github.com/echenonline/webmachine", {tag, "1.10.8"}}}
		,{riakc, ".", {git, "git://github.com/echenonline/riak-erlang-client", {tag, "2.3.0-timeseries"}}}
		,{emysql,".",{git,"git://github.com/echenonline/Emysql.git", {tag, "v0.4.1"}}}
		,{erlydtl, ".", {git, "git://github.com/echenonline/erlydtl.git", {tag, "0.10.0"}}}
	]
}.
